



<p class="pl-1 md:pl-3">Have a question? Would you like to arrange an appointment?</p>

<form id="contact-requests" action="/contact_requests" method="post">
    <div class="flex flex-col pt-4 pl-1 md:pl-3 w-5/6 sm:w-2/3 font-semibold">
        <div class="flex flex-col sm:flex-row mb-6">
            <label for="name" class="pr-4 flex-none w-1/4">Name</label>
            <input id="name" type="text" name="name" placeholder="Required" value="<%= contact_request_name %>" class="border-2 border-grey-light rounded flex-grow">
        </div>

        <div class="flex flex-col sm:flex-row mb-6">
            <label for="email" class="pr-4 flex-none w-1/4">Email</label>
            <input id="email" type="email" name="email" placeholder="Required" class="border-2 border-grey-light rounded flex-grow">
        </div>

        <div class="flex flex-col sm:flex-row mb-6">
            <label for="phone" class="pr-4 flex-none w-1/4">Phone</label>
            <input id="phone" type="tel" name="phone" placeholder="Optional" class="border-2 border-grey-light rounded flex-grow">
        </div>

        <div class="flex flex-col mb-6">
            <label for="message">Message</label>
            <textarea id="message" name="message" placeholder="Required" rows="10" class="border-2 border-grey-light rounded"></textarea>
        </div>

        <div class="flex justify-end mb-6">
            <% if contact_request_result == "success" %>
                <% disabled = "disabled" %>
                <% button_color = "bg-grey text-grey-darker" %>
            <% else %>
                <% disabled = "" %>
                <% button_color = "bg-teal-darker hover:text-orange-dark text-orange-lighter" %>
            <% end %>
            <input <%= disabled %> type="submit" value="Submit" class="w-1/3 sm:w-1/4 h-8 <%= button_color %> rounded">
        </div>

        <% contact_success_message_visibility = "invisible" %>
        <% contact_request_result_message = "" %>
        <% if contact_request_result == "success" %>
            <% contact_success_message_visibility = "visible" %>
            <% contact_request_result_message = "Thank you for reaching out!" %>
        <% elsif contact_request_result == "failure" %>
            <% contact_success_message_visibility = "visible" %>
            <% contact_request_result_message = "Submission failed. Please check your input and try again." %>
        <% end %>
        <div class="flex justify-end mb-6 <%= contact_success_message_visibility %>">
            <%= contact_request_result_message %>
        </div>
    </div>
</form>

<p class="pl-1 md:pl-3">
Alternatively, you can call us at <a class="text-teal-darker" href="tel:<%= telephone %>"><%= telephone %></a></li>.
</p>

<p class="pl-1 md:pl-3 pt-4">
We are located at <a class="text-teal-darker" href="<%= google_maps_link %>"><%= street_address %>, <%= address_locality %>, <%= address_region %> <%= postal_code %></a>.
</p>

<iframe
    class="pl-1 md:pl-3 pt-6"
    width="90%"
    height="580px"
    frameborder="0" style="border:0"
    src="<%= google_maps_embed_url %>"
    allowfullscreen>
</iframe>