<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <link rel="stylesheet" href="/main.css">
        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "Person",
                "name": "<%= name %>, <%= credentials %>",
                "address": {
                    "@type": "PostalAddress",
                    "streetAddress": "<%= street_address %>",
                    "addressLocality": "<%= address_locality %>",
                    "addressRegion": "<%= address_region %>",
                    "postalCode": "<%= postal_code %>"
                },
                "telephone": "<%= telephone %>"
            }
        </script>
    </head>

    <body class="bg-white font-sans text-teal-darkest">
        <div class="wrapper">
            <div class="header whitespace-no-wrap font-serif text-xl md:text-2xl text-orange p-2 flex flex-col items-center justify-between lg:flex-row lg:items-stretch">
                <span class="text-2xl md:text-3xl"><%= name %>, <span class="text-orange-lighter"><%= credentials %></span></span>
                <span><%= telephone %></span>
                <span class="flex justify-between lg:flex-col lg:justify-start">
                    <span class="pr-2 lg:pr-0 lg:pb-2"><%= street_address %></span>
                    <span class="pl-2 lg:pl-0"><span><%= address_locality %></span>, <span><%= address_region %></span> <span><%= postal_code %></span></span>
                </span>
            </div>
            <div class="navigation p-2 flex justify-around items-center md:items-stretch md:flex-col md:justify-start">
                <a class="md:pb-2" href="/"><span>Home</span></a>
                <a class="md:pb-2" href="/about"><span>About</span></a>
                <a class="md:pb-2" href="/contact"><span>Contact Us</span></a>
                <a class="md:pb-2" href="/faq"><span>FAQ</span></a>
            </div>
            <div class="main p-2">
                <%= yield %>
            </div>
            <div class="related-links p-2">
                Related Links
            </div>
            <div class="footer">
                Footer
            </div>
        </div>
    </body>
</html>
